// Variables
// --------------------------------------------------

// Colors
$brand-color-first: null;
$brand-color-second: null;
$brand-color-third: null;
$brand-color-fourth: null;
$brand-color-fifth: null;

// App defaults
$app-default-html-font-size: 62.5%;
$app-default-body-font-size: 1.4rem;
$app-default-font-family: null;
$app-default-font-color: null;
$app-default-bg-color: null;
$app-default-bg-repeat: null;
$app-default-bg-position: null;
$app-default-bg-size: null;
$app-default-link-color: null;
$app-default-link-hover-color: null;